@media (min-width: 320px) and (max-width: 767px) {
  .SearchIconWrapper{
    margin-right: 1.25rem;
  }
}
.Header{
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 72.5rem;
  margin: 1.813rem auto;
  .LogoIconWrapper{
    width: 180.83px;
    height: 26.6px;
    margin: 0 auto;
  }
  .SearchIconWrapper{
    width: 16px;
    height: 16px;
    cursor: pointer;
  }
}